/* .carrito-desplegable {
position: absolute;
top: 60px;
right: 20px;
background: rgb(252, 252, 252);
border: 1px solid #ddd;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
padding: 1rem;
z-index: 10;
width: 200px;
border-radius: 8px;
}

.carrito-desplegable h3 {
margin-top: 0;
}

.carrito-desplegable ul {
list-style: none;
padding: 0;
margin: 0;
}

.carrito-desplegable li {
padding: 0.3rem 0;
border-bottom: 1px solid #eee;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #ccc;
}

.MuiAppBar-root {
  background: linear-gradient(90deg, #0051ff, #ff0000, #2c5364);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.navbar-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-right: 185px;
}


.navbar {
  background-color: red !important;
} */